body {
    font-family: 'Varela Round', sans-serif;
}

.navbar {
    background-color: #000000 !important;
    /* box-shadow: 0px 0px 5px #dddddd; */
    
}

.navbar-dark .navbar-toggler {
    border: none;
}

.navbar-brand {
    font-size: 40px;
    color: #ffffff !important;
}

.navbar-nav a {
    color: #ffffff !important;
}

.navbar-nav a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    transition: 0.5s linear;
}

.jumbotron {
    height: 600px;
    text-align: center;
    color: #dddddd;
    background: linear-gradient(#000, #232526);
    background-position: no-repeat cover;
    border-radius: 0;
}

.jumbotron h1 {
    padding-top: 160px;
    font-size: 4rem;
}

.jumbotron h1:before {
    color: greenyellow;
    content: "Designer";
}

.social-bar {
    background-color: #eee;
    display: block;
    width: 500px;
    margin-bottom: 20%;
}

.skill-focus {
    width: 1200px;
    background-color: #ffffff;
    border-radius:10px;
    display: block;
    margin: -80px auto;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    padding: 20px 50px 20px 50px;
}

i {
    font-size: 1.8rem;
    color: #dddddd;
    padding-bottom: 10px;
}

.skill-items {
    margin: 0px;
    padding: 20px;
}

.featured-item img {
    max-width: 100%;
    min-width: 350px;
    margin: 10px 0px 20px 0px;
    border-radius: 10px;
}

.featured-item img:hover {
    opacity: 0.8;
    transition: ease-in 0.5s;
    cursor: pointer;
}

#social-bar {
  font-size: 2rem;
  letter-spacing: 10px;
  color: #474747;
  width: 100vw;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align:center;
}

#social-bar i:hover {
  color: #000;
}

a {
  color: #b8e994;
}


@media only screen and (max-width: 1000px) {
    .jumbotron h1 {
        font-size: 4rem;
        padding-top: 20%;
    }

    .skill-focus {
        max-width: 90%;
    }

    .skill-items {
        min-width: 100%;
    }

    .social-bar {
        width: 500px;
        margin-top: -100px;
        margin-bottom: 5%;
    }

.featured-item img {
        min-width: 300px;
        border-radius: 10px;
        margin: 10px 0px 20px 0px;
    }
  }

